*{
    margin: 0;
    padding: 0;
}
body{
    font: normal 12px/1.6em Microsoft YaHei,Tahoma,simsun;
    color: #666;
    min-width: 1240px;
    margin: 0 auto;
    background: #f7f8f8;
    
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    vertical-align: top;
}
.layout{
    width: 1240px;
    margin: 0 auto;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.logo,.icon-top-search,.icon-top-app,.top-user-mask,.icon-hot,.icon-new
,.icon-top-play,.icon-guide,.icon-yuzhou,.icon-mall,.icon-client
,.icon-canyon,.icon-cdk,.icon-mode,.icon-info,.icon-reward,.icon-weibo
,.icon-bbs,.icon-qq,.icon-18{
    background-image: url("http://ossweb-img.qq.com/images/lol/v2/spr-v2.png");
    background-repeat: no-repeat;
}
.top{
    background: #0b0b0b;
    position: relative;
}
#header{
    overflow-x: hidden;
}
#navbar{
    height: 90px;
    
    
}
.logo{
    width: 190px;
    height: 100px;
    position: absolute;
    top: 5px;
    background-position: 0 -30px;
    z-index: 10;
}
.logo a{
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -999em;
    overflow: hidden;
    
}
.main-nav-wrap{
    float: left;
    margin-left: 200px;
}
.main-nav{
    width: 600px;
    height: 90px;
    overflow: hidden;
    zoom: 1;
}
.main-nav li{
    float: left;
    width: 120px;
    height: 90px;
}
.main-nav a{
    display: block;
    width: 100%;
    padding-top: 30px;
    text-align: center;
    color: #fafafa;
    font-size: 18px;
}
.main-nav span{
    display: block;
    font-size: 10px;
    color: #838383;
    font-family: 'Tahoma';
    text-transform: uppercase;
}

/* 下拉菜单 */
.sub-nav{
    position: absolute;
    width: 100%;
    left: 0;
    visibility: hidden;
    z-index: 4;
}
.main-nav-wrap:hover .sub-nav{
    visibility: visible
}
.sub-nav-main{
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(0,0,0,0.7);
}
.sub-nav-inner{
    width: 1040px;
    height: 190px;
    margin: 0 auto;
    padding-left: 200px;
    overflow: hidden;
    zoom: 1;
}
.sub-nav-item{
    width: 120px;
    float: left;
}
.sub-nav-link{
    display: block;
    width: 120px;
    height: 28px;
    line-height: 28px;
    color: #e1e1e1;
    font-size: 14px;
    text-align: center;
}
a.sub-nav-link:hover{
    color: #e9c06c;
}
.sub-nav-item .icon-hot{
    background-position: -107px 0;
}
.sub-nav-item .icon-new{
    background-position: -129px 0;
}
.icon-hot,.icon-new{
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    margin-right: 2px;
}

.top-search,.top-app{
    float: left;
    width: 40px;
    height: 90px;
    margin-left: 5px;
    text-align: center;
}
.icon-top-search {
    display: inline-block;
    width: 27px;
    height: 27px;
    margin-top: 25px;
    background-position: -8px 0;
}
.icon-top-app {
    display: inline-block;
    width: 21px;
    height: 27px;
    margin-top: 25px;
    background-position: -45px 0;
    vertical-align: middle;
}

.top-user{
    float: left;
    position: relative;
}
.top-user-info{
    overflow: hidden;
}
.top-user-info:hover{
    background: rgba(27,27,27,0.9);
}
.top-user-info:hover .top-user-drop{
    visibility: visible;
}
.top-user-aside{
    float: left;
    position: relative;
    width: 100px;
    height: 90px;
}
.top-user-aside img {
    width: 66px;
    height: 66px;
    margin-left: 17px;
    margin-top: 12px;
    border-radius: 33px;
}
.top-user-mask{
    position: absolute;
    left: 13px;
    top: 8px;
    z-index: 2;
    width: 74px;
    height: 74px;
    background-position: 0 -169px;
}
.top-user-main{
    padding-top: 18px;
    /*overflow: hidden;*/
    /*zoom: 1;*/
    margin-left: 110px;
}
.top-user-login{
    font-size: 16px;
    color: #fff;
    padding: 5px 0;
}
.top-user-login a{
    color: #dfb257;
    text-decoration: underline;
    margin: 0 3px;
    cursor: pointer;
}
.top-user-tips{
    color: #999;
    font-size: 12px;
}
.top-user-drop{    
    position: absolute;
    visibility: hidden;
    top: 88px;
    left: 0;
    width: 100%;
    padding-top: 20px;
    z-index: 3;
    background: rgba(27,27,27,0.9);
}
.top-user-drop-tips{
    padding: 10px 30px 30px;
    text-align: left;
    color: #868686;
    font-size: 14px;
}
.top-user-drop-personal{
    width: 100%;
    height: 36px;
    line-height: 36px;
    background: #161413;
    color: #e0e0e0;
    font-size: 12px;
    text-align: center;
    
}

/* banner */
.banner{
    /*width: 1240px;*/
    margin: 0 auto;
    background-size: cover;
    position: relative;
    
    
}
.banner-act{
    height: 310px;
    padding-top: 40px;
    position: relative;
    
}
.banner-act-name{
    position: relative;
    height: 50px;
    margin-bottom: 10px;
    color: #ffcb60;
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,232,184,1)), to(rgba(175,133,48,1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-act-name span {
    position: absolute;
    left: 0;
    color: transparent;
    text-shadow: 0 0 10px #000;
    z-index: -1;
}
.banner-act-describe{
    width: 550px;
    font-size: 14px;
    color: #dbdbdb;
    line-height: 1.5;
    margin-bottom: 15px;
}
.banner-act-video{
    width: 220px;
    height: 120px;
    position: relative;
    border: 1px solid #987630;
    margin-bottom: 15px;
}

.btn-top-play{
    position: absolute;
    top: 0;
    left: 0;
    

}
.icon-top-play{
    display: block;
    width: 35px;
    height: 50px;
    margin-top: 35px;
    margin-left: 93px;
    background-position: -230px -30px;
}
.banner-act-link,.banner-version-link{    
    border: 2px solid #bd9440;
    text-align: center;  
    background: rgba(0,0,0,0.65);
    
    font-weight: bold;
    color: #c89b3c;
    -moz-border-image: -moz-linear-gradient(top, #6b5024 0%, #b88d35 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #6b5024 0%, #b88d35 100%);
    border-image: linear-gradient(to bottom, #6b5024 0%, #b88d35 100%);
    border-image-slice: 1;
}
.banner-act-link{
    display: block;
    width: 155px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
}
.banner-version{
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 30px;
    font-size: 14px;
    color: #888787;
}
.banner-version em{
    font-style: normal;
    color: #f5d185;
    margin-right: 10px;
}
.banner-version-link{
    display: inline-block;
    padding: 0 15px;
    height: 22px;
    line-height: 22px;  
    font-size: 12px;
}

.banner-back-video{
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 0;
    margin-left: -960px;
    width: 1920px;
    height: 350px;
}

/*  menu */
.menu{
    position: relative;
    width: 100%;
    height: 80px;
    border-top: 2px solid #8c6c2d;
    background: url(http://ossweb-img.qq.com/images/lol/v2/spr-v2.png) repeat-x 0 -257px;
}
.menu .cur{
    color: #d1ab57;
    border-bottom: 2px solid #d1ab57;
}
.menu li{
    float: left;
    width: 110px;
    height: 58px;
    line-height: 58px;
    border-bottom: 2px solid transparent;
    font-size: 20px;
    color: #555555;
    text-align: center;
    cursor: pointer;
}
.menu .dot{
    width: 13px;
    height: 50px;
    margin: 4px 18px;
    background: url(http://ossweb-img.qq.com/images/lol/v2/spr-v2.png) no-repeat -290px -30px;
}
.fix-menu{
    position: fixed;
    top: 0;
    z-index: 888;
}

.content{
    padding-top: 40px;
    margin-top: -20px;
    background: #f7f7f7 url(http://ossweb-img.qq.com/images/lol/v2/bg-content-top.jpg) no-repeat center top;
}
.promo{
    float: left;
    position: relative;
    width: 820px;
    margin-right: 20px;
    margin-bottom: 60px;
    overflow: hidden;
}
.promo-list{
    position: relative;
    width: 4100px;
    /* height: 350px; */
    transition: ease all .8s;
}
.promo-item{
    float: left;
    width: 820px;
    height: 350px;
    background: #000;
    overflow: hidden;
}
.promo-item img{
    width: 100%;
    height: 100%;
} 
.promo-trigger{
    width: 100%;
    background: #121112;
    height: 50px;
    overflow: hidden;

}
.promo-trigger span{
    float: left;
    width: 164px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
    color: #c8c8c8;
    font-size: 14px;
}
.promo-trigger .on{
    color: #e9c06c;
    background: #303030;
}
.side-download{
    position: relative;
    display: block;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    background: url(http://ossweb-img.qq.com/images/lol/v2/bg-download.jpg) no-repeat 0 0;
}
.side-nav-download{
    display: block;
    width: 100%;
    height: 150px;
    position: absolute;
    left: 0;
    top: 0;
    text-indent: -999em;
    overflow: hidden;
}
.side-nav{
    float: left;
    width: 400px;
}
.side-menu{
    margin-left: -5px;
}
.side-menu li{
    position: relative;
    float: left;
    width: 130px;
    height: 55px;
    margin-left: 5px;
    margin-top: 5px;
}
.side-menu a{
    display: block;
    line-height: 55px;
    background: #fff;
    text-align: center;
    font-size: 14px;
    color: #555555;
}
.side-menu a:hover{
    background-color: #f0f0f0;
}
.icon-guide,.icon-yuzhou,.icon-mall,.icon-client
,.icon-canyon,.icon-cdk,.icon-mode,.icon-info,.icon-reward,.icon-weibo
,.icon-bbs,.icon-qq{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}
.side-menu .icon-new,
.side-menu .icon-hot{
    position: absolute;
    margin-top: 3px;
}

.icon-hot{
    background-position: -107px 0;
}
.icon-new{
    background-position: -129px 0;
}
.icon-guide{
    background-position: -200px 0;
}
.icon-yuzhou{
    background-position: -560px 0;
}
.icon-mall{
    background-position: -590px 0;
}
.icon-client{
    background-position: -380px 0;
}
.icon-canyon{
    background-position: -650px 0;
}
.icon-cdk{
    background-position: -290px 0;

}
.icon-mode{
    background-position: -620px 0;

}
.icon-info{
    background-position: -260px 0;
}
.icon-reward{
    background-position: -470px 0;
}
.icon-weibo{
    background-position: -500px 0;

}
.icon-bbs{
    background-position: -410px 0;

}
.icon-qq{
    background-position: -440px 0;
}

.news{
    float: left;
    width: 820px;
    margin-right: 20px;
    margin-bottom: 50px;
}
.tab{
    position: relative;
    height: 50px;
    border-bottom: 3px solid #ededee;
}
.tab-title{
    float: left;
    font-size: 26px;
    line-height: 50px;
    color: #404040;
    margin-right: 40px;
    font-weight: normal;
}
.tab-nav{
    float: left;
    margin-top: 14px;
    position: relative;
    height: 36px;
}
.tab-nav li{
    float: left;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    cursor: pointer;
    color: #666666;
    font-size: 16px;
    text-align: center;
}
.tab-nav .current {
    color: #d1ab57;
    font-weight: bold;
    border-bottom: 3px solid #d1ab57;
}

.news-nav li{
    width: 168px;
    font-size: 18px;
}
.news-list{
    padding-top: 24px;

}
.news-content{
    display: none;
}
.news-content .first{
    margin-bottom: 24px;
}
.news-content .first img{
    float: left;
    margin-right: 20px;
}
.news-content .news-first-title{
    display: block;
    font-size: 36px;
    font-weight: bold;
    color: #3e3e3e;
    line-height: 50px;
    height: 50px;
    overflow: hidden;
}
.news-content .news-first-desc{
    display: block;
    height: 60px;
    overflow: hidden;
    font-size: 14px;
    color: #898989;
    line-height: 1.5;
}
.news-item{
    height: 35px;
    line-height: 35px;
    padding: 4px 0;
}
.news-link{
    display: block;
    position: relative;
    height: 35px;
    line-height: 35px;
    padding: 0 55px 0 90px;
    overflow: hidden;
    font-size: 16px;
    color: #555555;
}
.news-link:hover{
    color: #d1ab57;
    text-decoration: none;
}
.news-link:hover .news-type{
    background: #d1ab57;
    color: #fff;
}

.news-type{
    position: absolute;
    left: 0;
    top: 0;
    width: 68px;
    height: 35px;
    line-height: 35px;
    background: #ebebeb;
    text-align: center;
    color: #7a7a7a;
}
.news .date{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 35px;
    line-height: 35px;
    text-align: right;
    color: #bababa;
}
.news .news-more{
    display: block;
    width: 100%;
    height: 45px;
    margin-top: 24px;
    line-height: 45px;
    background: #f0f0f0;
    color: #515151;
    font-size: 16px;
    text-align: center;
}
.news .news-more:hover{
    color: #555555;
    background: #dad8d8;
}
.news .news-more em{
    color: #d1ab57;
    font-style: normal;

}
/* 皮肤 */
.bd{
    overflow: hidden;
    zoom: 1;
}
.hero{
    float: left;
    width: 400px;
}
.hero-content{
    margin-bottom: 20px;
    height: 400px;
}
.home-mod{
    margin-bottom: 50px;
}
.home-slide-item{
    padding-bottom: 20px;
}
.hero-tab{
    margin-bottom: 15px;
}
.hero-tab li {
    width: 133.333333px;
}
.free-list, .hero-new-list {
    position: relative;
    margin-right: -10px;
}
.free-list a, .hero-new-list a {
    float: left;
    position: relative;
    width: 195px;
    height: 70px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
}
.free-list a:hover .sbg,
.hero-new-list a:hover .sbg{
    display: block;
}
.hero-new-list a.skin-first{
    width: 100%;
    height: 145px;
}
.free-time{
    text-align: right;
    color: #9F9F9F;
    margin-bottom: 22px;
}
.qt-go{
    display: block;
    margin-top: 42px;
    margin-bottom: 20px;
}
.side-tips-18{
    position: relative;
    height: 70px;
    padding-top: 5px;
    padding-left: 80px;
    font-size: 12px;
    color: #878787;
}
.icon-18{
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 70px;
    background-position: -330px -89px;
}
.sbg{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.78);
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}
.sbg .first-name{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30px;
    padding-top: 0;
    line-height: 14px;
    color: #c9aa71;
}

/* 最新推荐 */
.recommend{
    clear: both;
}
.recommend-list {
   
}
.recommend-nav li {
    width: 150px;
}
.recommend-top{
    margin-bottom: 20px;
}
.recommend-video{
    height: 190px;
}
.pv-list {
    width: 1260px;
    position: relative;
}
.pv-list li {
    width: 190px;
    height: 155px;
    margin: 0 20px 20px 0;
    position: relative;
    float: left;
    cursor: pointer;
}
.pv-list li a:hover{
    background: #eee;
    color: #d1ab57;
}
.pv-list li a:hover .pv-cover-ico,
.pv-list li a:hover .pv-cover-1{
    display: block;
}
.pv-list li .pv-lnk {
    width: 100%;
    height: 100%;
    display: block;
    color: #555;
    position: relative;
}
.pv-list li .pv-lnk img {
    width: 190px;
    height: 110px;
    display: block;
    margin-bottom: 5px;
}
.pv-list li .pv-cover-1 {
    position: absolute;
    width: 100%;
    height: 110px;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0,0.3);

}
.pv-list li .pv-lnk .pv-cover-ico {
    position: absolute;
    width: 65px;
    height: 65px;
    left: 60px;
    top: 20px;
    display: none;
    background: url(http://ossweb-img.qq.com/images/lol/web201310/video/bg-icon-v.png) no-repeat 0 0;
}
.pv-list li .pv-lnk h5 {
    font-weight: normal;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    font-size: 14px;
}
.shadow1 {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 20%;
    background: rgba(0,0,0,0.5);
}
.pv-list .shadow1 {
    bottom: 45px;
    text-align: right;
    line-height: 30px;
}
.shadow1 i {
    padding-right: 5px;
    font-style: normal;
    color: #ddd;
}
.recommend-more{
    display: block;
    width: 100%;
    height: 45px;
    margin-top: 15px;
    line-height: 45px;
    background: #f0f0f0;
    color: #515151;
    font-size: 16px;
    text-align: center;
}
.recommend-more:hover{
    color: #555555;
    background: #dad8d8;
}
.recommend-more em {
    font-style: normal;
    color: #d1ab57;
}

.recommend-act{
    margin-right: -13px;
}
.recommend-act li{
    width: 300px;
    height: 240px;
    float: left;
    margin-right: 13px;
    box-shadow: 0 3px 6px rgba(0,0,0,.15);
}

.recommend-act .act-img{
    display: block;
    position: relative;
    width: 100%;
    height: 130px;
    overflow: hidden;

}

.recommend-act .act-img img{
    width: 100%;
    transition: ease all .8s;
}
.recommend-act a:hover img{
    transform: scale(1.05,1.05);

}
.act-num{
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 26px;
    line-height: 26px;
    color: #f8f8f8;
    font-size: 12px;
    text-align: center;
    background: rgba(0,0,0,.6);


}
.act-num-f{
    color: #f3ca6f;
    margin: 0 4px;
    font-weight: normal;
}
.act-over{
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    height: 22px;
    padding: 0 8px;
    line-height: 22px;
    border-radius: 11px;
    background: #c8c8c8; 
    text-align: center;
    font-size: 12px;
    color: #fff;
}
.act-inner{
    padding: 11px 15px 0;
    position: relative;
}
.act-date{
    font-size: 12px;
    line-height: 16px;
    color: #d1ab57;
    margin: 6px 0 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.act-date span{
    color: #9f9f9f;
}

/* footer */
.footer{
    padding: 30px 0;
    zoom: 1;
    background: url(http://ossweb-img.qq.com/images/lol/v2/bg-footer.jpg) no-repeat center top;
    color: #A5A5A5;
}
.footer .footer-list{
    float: right;
}
.footer .footer-list-link{
    color: #568193;
}
.footer-list span{
    padding: 0 1px;
    color: #568193;
}
.footer-list .copyright{
    color: #415967;
}